<div class="container">
    <h3 class="py-3 text-center" style="color:crimson">SAFE TOUCH SANITIZERS</h3>
</div>

<!--h3 style="color:bisque" style="align-content: center;">SAFE TOUCH SANITIZERS</h3--> 


    <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
     
    <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav text:right">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/homepage" style="color:bisque">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" >
                <a class="nav-link" routerLink="/gallery" style="color:bisque">Gallery</a>
            </li>
            <li class="nav-item active" >
                <a class="nav-link" href="#" style="color:bisque">About Us</a>
            </li>
            <li class="nav-item active" >
                <a class="nav-link" routerLink="/sign-in" style="color:bisque">Sign In</a>
            </li>
            <li class="nav-item active" >
                <a class="nav-link" routerLink="/sign-up" style="color:bisque">Sign Up</a>
            </li>
        </ul>
        
        <form class="form-inline my-2 my-lg-0">
            <input type="search" placeholder="Search">
            <!--button class="btn btn-success btn-lg float-right" type="submit">Search</button-->
            <button class="btn btn-primary" routerLink="/gallery">Search</button>
            
            
        </form>
        
    </div>
</nav>
    
