<br><br>
<div class="container-fluid" style=" background: linear-gradient(57deg, #00C6A7 , #1E4D92 );">
    
    <div class="col-md-7 ml-4 p-0 d-flex justify-content-start">
        
    </div><br>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="uname" required><br><br>


    <label for="upass"><b>Password</b></label>
    <input type="password" placeholder="Enter the password" name="upass" required><br><br>

    <button type="submit" routerLink="/navigation-bar"><b>Login</b></button>

    
</div>
