
<div class="row" id="gallery">
<div class="col-12 col-sm-6 col-md-3">
    <figure>
        <img src="/assets\img1.jpg" class="img-fluid" style="width:35%" alt="Responsive image"><br>
        <figcaption> 
        Himalaya Sanitizer <br>
        Green Apple flavour <br>
        250 ml <br>
        <input type="checkbox"><br>
        <button type="submit" class="btn btn-warning btn-sm" routerLink="/sign-up">Add To Cart</button>
        </figcaption>
        </figure>
</div>

<div class="col-12 col-sm-6 col-md-3">
    <figure>
        <img src="/assets\img3.jpg" class="img-fluid" style="width:35%" alt="Responsive image"><br>
        <figcaption> 
        Lifebuoy Sanitizer <br>
        Lemon Fresh flavour <br>
        50 ml <br>
        <input type="checkbox"><br>
        <button type="submit" class="btn btn-warning btn-sm" routerLink="/sign-up">Add To Cart</button>
        </figcaption>
        </figure>
</div>

<div class="col-12 col-sm-6 col-md-3">
    <figure>
    <img src="/assets\img4.jpg" class="img-fluid" style="width:35%" alt="Responsive image"><br>
    <figcaption> 
    Khadi OrganiQue Sanitizer <br>
    Aloe Vera & Lemon flavour <br>
    210 ml <br>
    <input type="checkbox"><br>
    <button type="submit" class="btn btn-warning btn-sm" routerLink="/sign-up">Add To Cart</button>
    </figcaption>
    </figure>
</div>

<div class="col-12 col-sm-6 col-md-3">
    <figure>
    <img src="/assets\img5.jpg" class="img-fluid" style="width:35%" alt="Responsive image"><br>
    <figcaption> 
    Shivalik Herbal Sanitizer <br>
    Aloe Vera & Lemon flavour <br>
    200 ml <br>
    <input type="checkbox"><br>
    <button type="submit" class="btn btn-warning btn-sm" routerLink="/sign-up">Add To Cart</button>
    </figcaption>
    </figure>
</div>
</div>

<div class="row" id="gallery">
<div class="col-12 col-sm-6 col-md-3">
    <figure>
    <img src="/assets\img6.jpg" class="img-fluid" style="width:35%" alt="Responsive image"><br>
    <figcaption>
    Lifebuoy Sanitizer <br>
    without water<br>
    <input type="checkbox"><br>
    <button type="submit" class="btn btn-warning btn-sm" routerLink="/sign-up">Add To Cart</button>
    </figcaption>
    </figure>
    </div>
    
    <div class="col-12 col-sm-6 col-md-3">
    <figure>
    <img src="/assets\img7.jpg" class="img-fluid" style="width:35%" alt="Responsive image"><br>
    <figcaption> 
    BORO PLUS Sanitizer <br>
    Alcohol based with Neem & Tulsi<br>
    200 ml <br>
    <input type="checkbox"><br>
    <button type="submit" class="btn btn-warning btn-sm" routerLink="/sign-up">Add To Cart</button>
    </figcaption>
    </figure>
    </div>
    
    <div class="col-12 col-sm-6 col-md-3">
    <figure>
    <img src="/assets\img8.jpg" class="img-fluid" style="width:35%" alt="Responsive image"><br>
    <figcaption> 
    Dabur Sanitizer <br>
    Alcohol Based <br>
    450 ml <br>
    <input type="checkbox"><br>
    <button type="submit" class="btn btn-warning btn-sm" routerLink="/sign-up">Add To Cart</button>
    </figcaption>
    </figure>
    </div>
    
    <div class="col-12 col-sm-6 col-md-3">
    <figure>
    <img src="/assets\img9.jpg" class="img-fluid" style="width:35%" alt="Responsive image"><br>
    <figcaption> 
    Dettol Sanitizer <br>
    without water <br>
    210 ml <br>
    <input type="checkbox"><br>
    <button type="submit" class="btn btn-warning btn-sm" routerLink="/sign-up">Add To Cart</button>
    </figcaption>
    </figure>
            
    </div>
    </div>

    <div class="row" id="gallery">
    <div class="col-12 col-sm-6 col-md-3">
    <figure>
    <img src="/assets\img10.jpg" class="img-fluid" style="width:35%" alt="Responsive image"><br>
    <figcaption> 
    Purell Sanitizer <br>
    Refeshning Aloe flavour <br>
    236 ml <br>
    <input type="checkbox"><br>
    <button type="submit" class="btn btn-warning btn-sm" routerLink="/sign-up">Add To Cart</button>
    </figcaption>
    </figure>
    </div>
        
    <div class="col-12 col-sm-6 col-md-3">
    <figure>
    <img src="/assets\img11.jpg" class="img-fluid" style="width:35%" alt="Responsive image"><br>
    <figcaption> 
    Dettol Sanitizer <br>
    Alcohol Based <br>
    210 ml <br>
    <input type="checkbox"><br>
    <button type="submit" class="btn btn-warning btn-sm" routerLink="/sign-up">Add To Cart</button>
    </figcaption>
    </figure>
    </div>
        
    <div class="col-12 col-sm-6 col-md-3">
    <figure>
    <img src="/assets\img12.jpg" class="img-fluid" style="width:35%" alt="Responsive image"><br>
    <figcaption> 
    Himalaya Sanitizer <br>
    Litchi flavour <br>
    250 ml <br>
    <input type="checkbox"><br>
    <button type="submit" class="btn btn-warning btn-sm" routerLink="/sign-up">Add To Cart</button>
    </figcaption>
    </figure>
    </div>
        
    <div class="col-12 col-sm-6 col-md-3">
    <figure>
    <img src="/assets\img14.jpg" class="img-fluid" style="width:35%" alt="Responsive image"><br>
    <figcaption> 
    Beauty New Sanitizer <br>
    Silver Ion Alcohol Compound <br>
    70 ml <br>
    <input type="checkbox"><br>
    <button type="submit" class="btn btn-warning btn-sm" routerLink="/sign-up">Add To Cart</button>
    </figcaption>
    </figure>
            
    </div>
    </div>
