<br><br>
<div class="container-fluid" style=" background: linear-gradient(57deg, #00C6A7 , #1E4D92 );">
    
    <div class="col-md-7 ml-4 p-0 d-flex justify-content-start">
        <h4>Register Here For New User</h4>
    </div><br>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="uname" required><br><br>


    <label for="upass"><b>Password</b></label>
    <input type="password" placeholder="Enter the password" name="upass" required><br><br>


    <label for="uemail"><b>Email-Id</b></label>
    <input type="Email" placeholder="Enter your emailid" name="uemail" required><br><br>


    <label for="umobile"><b>Mobile No</b></label>
    <input type="mobile" placeholder="Enter your mob no." name="upass" maxlength=10 required><br><br>

    <!--div class="col-md-7 ml-4 p-0 d-flex justify-content-start">
        <h4>Register Here</h4>
    </div-->

    <button type="submit" routerLink="/gallery"><b>Login</b></button>
</div>
